<section data-ng-controller="IndexController">
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h1>2 + 1 = 3</h1>
            <p>
               We are a family of 3 Olsons. Alexa, Brian and Ames. This site is a place
               where you can find pictures, adventures and videos of our little family. You won't find these
               posts on normal social networks, so if you made it here and want to see more, bookmark the site and
               come back often!
            </p>
            <p style="text-align: center">
                </br>
                </br>
                </br>
                <em><small>This site was designed and coded by Brian</small></em>
            </p>

        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

</section>
